.header{
    min-height: 100vh;
    max-height: 100vh;
    &__img{
        &--computer{
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;
        }
        &--studying-girl{
            position: absolute;
            bottom: 13.5rem;
            right: 25rem;
            width: 34rem;
            height: 34rem;
            z-index: 1;
        }
    }
}