.header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 96.8px 10rem 2rem 20rem;
    justify-content: space-between;

    @media (max-width: 1365px) {
        margin: 96.8px 0 0 0;
    }

    &__img {
        width: 50vw;
        @media (max-width: 1365px) {
            margin: 96.8px 0 0 0;
            width: 80vw;
        }
    }

    &__img img {
        height: auto;
        width: 100%;
    }
}

