.header{
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    &__img{
        &--computer{
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;
            height: auto;
            width: 50%;
        }
        &--studying-girl{
            position: relative;
            bottom: 35rem;
            width: 196rem;
            height: 100%;
            z-index: 1;
            left: 8vw;
        }
    }
}