@import "../abstracts/variables";

.icon{
    fill: $iconClr;
    opacity: .8;
    min-height: 7rem;
    max-height: 7rem;
        &__languages{
            min-width: 3rem;            
            max-width: 15rem;
        }
        &__contact{
            fill: $iconContClr;
            transition: all .6s;
            &:hover{
                fill: darken($iconContClr, 20%);
                transform: scale(1.1);
            }
        }
}