.info{
    &__window{
        position: absolute;
        z-index: 11;
        width: 25rem;
        height: 18vh;
        background-color: rgba(0, 0, 0, 0.7);
        top: 36vh;
        border: 1px solid transparent;
        border-radius: 20px;
        @media (min-width: 665px){
            display: none;
        }
    }
}