.projects__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.project{
    &__img{
        max-height: 50vh;
        max-width: 100vw;
        @media (max-height: 1000px){
            max-height: 30vh;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
    &__link{
        display: inline-block;
        &--wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}