.projects__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.project{
    &__img{
        max-height: 60vh;
        max-width: 100vw;
    }
}