.projects__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-bottom: 15%;
    @media (max-width: 500px){
        max-width: 100vw;
        overflow-x: hidden;
    }
}

.project{
    margin-bottom: 5rem;
    &__seperator{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    &__img{
        max-height: 70vh;
        max-width: 100vw;
        @media (max-height: 1000px){
            max-height: 40vh;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
    &__link{
        display: inline-block;
        &--wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 5rem;
        }
    }
}