@import "../abstracts/variables";

.section{
    &__about-me{
        background-color: $aboutBgrClr;
        overflow-y: scroll;
        height: 100vh;
    }
    &__projects{
        background-color: $projectsBgrClr;
    }
    &__contact{
        background-color: $contactBgrClr;
    }
}