@import "../abstracts/variables";

.section{
    &__about-me{
        background-color: $aboutBgrClr;
        overflow-y: scroll;
        height: 100vh;
        width: 100vw;
    }
    &__projects{
        background-color: $projectsBgrClr;
        overflow-y: scroll;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
    }
    &__contact{
        background-color: $contactBgrClr;
        width: 100vw;
    }
}