//arrow controls

aside[id="slider-control"]{
  width: auto !important;
  bottom: -11rem !important;
  @media (max-height: 1000px){
    bottom: -5rem !important;
  }
}

aside[id="slider-control"] .slidr-control.right {
  width: 83px !important;
  height: 83px !important;
  top: 50% !important;
  margin-top: -39px !important;
  right: -25px !important;
  /* border-radius: 25px; */
  background: url(./next.png) no-repeat;
  @media (max-screen: 665px){
    background: url(./nextSmall.png) no-repeat;
  }
}

aside[id="slider-control"] .slidr-control.right:after{
  visibility: hidden;
  border-color: transparent transparent transparent $projectNavBtnClr !important;
  border-width: 18px 18px 17px 24px !important;
  transform: scale(1.5);
  @media (max-width: 665px){
    transform: scale(1) !important;
  }
}

aside[id="slider-control"] .slidr-control.left:after{
  border-color: transparent $projectNavBtnClr transparent transparent !important;
  border-width: 18px 24px 17px 28px !important;
  transform: scale(1.5);
  @media (max-width: 665px){
    transform: scale(1) !important;
  }
}

  // Hide unuseful controls
aside[id="slider-control"] .slidr-control.up:after,
aside[id="slider-control"] .slidr-control.down:after{
    border-color: transparent !important;
}

