//arrows

aside[id="slider-control"] .slidr-control.right {
    width: 50px !important;
    height: 50px !important;
    top: 50% !important;
    margin-top: -25px !important;
    right: -25px !important;
    border-radius: 25px;
    border-color: transparent;
    background: url('../../../views/media/png/next.png') 14px 13px no-repeat;
    opacity: 0.8;
  }


  
  // Hide a single arrow within a single controller.
aside[id="slider-control"] .slidr-control.right:after,
aside[id="slider-control"] .slidr-control.left:after,
aside[id="slider-control"] .slidr-control.up:after,
aside[id="slider-control"] .slidr-control.down:after{
    border-color: transparent !important;
  }

  //<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>