//arrow controls

aside[id="slider-control"]{
  width: auto !important;
  bottom: -11rem !important;
  @media (max-height: 1000px){
    bottom: -5rem !important;
  }
}

aside[id="slider-control"] .slidr-control.right:after{
  border-color: transparent transparent transparent $projectNavBtnClr !important;
  border-width: 18px 18px 17px 24px !important;
  transform: scale(1.5);
  @media (max-width: 665px){
    transform: scale(1) !important;
  }
}

aside[id="slider-control"] .slidr-control.left:after{
  border-color: transparent $projectNavBtnClr transparent transparent !important;
  border-width: 18px 24px 17px 28px !important;
  transform: scale(1.5);
  @media (max-width: 665px){
    transform: scale(1) !important;
  }
}

  // Hide unuseful controls
aside[id="slider-control"] .slidr-control.up:after,
aside[id="slider-control"] .slidr-control.down:after{
    border-color: transparent !important;
}

