@import "../abstracts/variables";

html,
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    width: 100vw;
    height: 100vh;
}

body{
    background-color: $bodyBgrClr;
    overflow-y: hidden;
    overflow-x: hidden;
}

section {
    margin: 0;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txtAppearFirst{
    animation: txtAppear 2s forwards;
}

.txtAppearLater{
    animation: txtAppear 2s forwards;
    animation-delay: 1s;
}

.hidePage{
    height: 0;
    display: none;
}

.showPage{
    height: 100vh;
    display: block;
}

.showPageFlex{
    height: 100vh;
    display: flex;
}
.hidden{
    visibility: hidden;
}

.animateMenuPageDisplay{
    animation: heightChange 2s forwards;
}

.menuTxtDisplay{
    animation: txtAppear 2s forwards;
}

.scale0{
    animation: scaleTo0 1s forwards;
}

.scaleBack{
    animation: scaleTo1 .8s forwards;
}

.menuClose{
    animation: menuClose 2s forwards;
}

.moveLeftRight{
    animation: moveLeftRight 2.4s forwards;
    animation-delay: 1s;
}

.fadeOut{
    animation: fadeOut .4s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}