@import "../abstracts/variables";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Source+Code+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

html{
    font-size: 62.5%;
}

a{
    transition: all .4s;
    &:link,
    &:active,
    &:visited{
        text-decoration: none;
        color: $navLinkClr;
    }
    &:hover{
        color: $navLinkHvr;
    }
}

.txt{
    &__nav{
        text-transform: uppercase;
        font-size: 3rem;
        @media (max-width: 1379px){
            font-size: 1.6rem;
        }
        @media (min-width: 1380px) and (max-width: 1500px){
            font-size: 2rem;
        }
        @media (min-width: 1501px) and (max-width: 1680px){
            font-size: 2.5rem;
        }
    }
    &__header{
        span:first-child{
            font-size: 20rem;
            letter-spacing: 1.6rem;
        }
        span:nth-child(2){
            display: block;
            font-size: 15rem;
            opacity: 0;
        }
        color: $headerTxtClr;
        z-index: 7;
        top: 11rem;
        left: 30rem;
        position: relative;
        z-index: 5;
    }
    &__section{
        &--heading{
            font-size: 4.8rem;
            margin-bottom: 2%;
            text-align: center;
            color: $headingPrimaryClr;
            font-family: 'Playfair Display', serif;
            @media (max-width: 1379px){
                font-size: 3rem;
            }
            @media (min-width: 1380px) and (max-width: 1500px){
                font-size: 3.5rem;
            }
            @media (min-width: 1501px) and (max-width: 1680px){
                font-size: 4rem;
            }
            & span:first-child,
            & span:last-child{
                color: $curlyBrClr;
            }
        }
        &--p{
            font-size: 2.5rem;
            text-align: justify;
            color: $pPrimaryClr;
            margin: 2rem;
        }
        &--imp{
            color: $txtImportant;
            font-weight: 600;
        }
    }
    &__about-me{
        &--large{
            text-align: center;
            color: lighten($pPrimaryClr, 2%);
            font-size: 3.4rem;
            & span:nth-child(2){
                display: block;
            }
        }
    }
}