@import "../abstracts/variables";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Source+Code+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
html{
    font-size: 62.5%;
}

a{
    transition: all .4s;
    &:link,
    &:active,
    &:visited{
        text-decoration: none;
        color: $navLinkClr;
    }
}

.txt{
    &--bold-imp{
        color: $curlyBrClr;
    }
    &__project{
        &-link{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
            transition: all .4s;
            //z-index: 10;
            &:link,
            &:active,
            &:visited{
                text-decoration: none;
                color: $navLinkClr;
            }
            &:hover{
                color: $navLinkHvr;
                text-decoration-line: overline;
            }
        }
    }
    &__nav{
        text-transform: uppercase;
        font-size: 3rem;
        font-family: 'Josefin Sans', sans-serif;
        @media (max-width: 665px){
            font-size: 5rem;
        }
        @media (min-width: 666px) and (max-width: 1379px){
            font-size: 1.6rem;
        }
        @media (min-width: 1380px) and (max-width: 1500px){
            font-size: 2rem;
        }
        @media (min-width: 1501px) and (max-width: 1680px){
            font-size: 2.5rem;
        }
        &-link{
            transition: all .4s;
            &:link,
            &:active,
            &:visited{
                text-decoration: none;
                color: $navLinkClr;
            }
            &:hover{
                letter-spacing: 1rem;
                color: $navLinkHvr;
            }
        }
    }
    &__header{
        span:first-child{
            font-size: 20rem;
            letter-spacing: 1.6rem;
            @media (max-width: 550px){
                font-size: 7rem;
                letter-spacing: .6rem;
            }
            @media (min-width: 551px) and( max-width: 1379px){
                font-size: 15rem;
                letter-spacing: 0;
            }
        }
        span:nth-child(2){
            display: block;
            font-size: 15rem;
            opacity: 0;
            @media (max-width: 550px){
                font-size: 5rem;
            }
            @media (min-width: 551px) and (max-width: 1379px){
                font-size: 10rem;
            }
        }
        color: $headerTxtClr;
        z-index: 7;
        top: 11rem;
        left: 30rem;
        position: relative;
        z-index: 5;
        @media(max-width: 550px){
            left: 12rem;
            top: 21rem;
        }
        @media(min-width: 551px) and( max-width: 750px){
            left: 3rem;
        }
    }
    &__section{
        &--heading{
            font-size: 4.8rem;
            margin-bottom: 2%;
            text-align: center;
            color: $headingPrimaryClr;
            font-family: 'Raleway Dots', cursive;
            @media (max-width: 1379px){
                font-size: 3rem;
            }
            @media (min-width: 1380px) and (max-width: 1500px){
                font-size: 3.5rem;
            }
            @media (min-width: 1501px) and (max-width: 1680px){
                font-size: 4rem;
            }
            & span:first-child,
            & span:last-child{
                color: $curlyBrClr;
            }
        }
        &--p{
            font-size: 2.5rem;
            text-align: justify;
            color: $pPrimaryClr;
            margin: 2rem;
            font-family: 'Lato', sans-serif;
            @media (max-width: 1014px){
                font-size: 2rem;
            }
        }
        &--imp{
            color: $txtImportant;
            font-weight: 600;
        }
    }
    &__about-me{
        &--large{
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
            text-align: center;
            color: lighten($curlyBrClr, 5%);
            font-size: 2.8rem;
            @media(max-width: 420px){
                font-size: 2.5rem;
            }
            @media(min-width: 421px) and (max-width: 660px){
                font-size: 3rem;
            }
            & span:nth-child(2){
                display: block;
            }
        }
    }
}