@import "../abstracts/variables";

html{
    font-size: 62.5%;
}

a{
    transition: all .4s;
    &:link,
    &:active,
    &:visited{
        text-decoration: none;
        color: $navLinkClr;
    }
    &:hover{
        color: $navLinkHvr;
    }
}

.txt{
    &__nav{
        text-transform: uppercase;
        font-size: 3rem;
        @media (max-width: 1680px){
            font-size: 2.5rem;
        }
    }
    &__header{
        span:first-child{
            font-size: 20rem;
            letter-spacing: 1.6rem;
        }
        span:nth-child(2){
            display: block;
            font-size: 15rem;
            opacity: 0;
        }
        color: $headerTxtClr;
        z-index: 7;
        top: 11rem;
        left: 30rem;
        position: relative;
    }
    &__section{
        &--heading{
            font-size: 3rem;
            text-align: center;
            color: $headingPrimaryClr;
        }
        &--p{
            font-size: 2.5rem;
            text-align: justify;
            color: $pPrimaryClr;
            margin: 2rem;
        }
    }
}