.line-wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    width: 90rem;
        &__contact{
            justify-content: space-around;
            display: flex;
            flex-direction: row;
            transform: translateY(50%);
        }
        &--loc{
            width: 100rem;
        }
}

.btn-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-me--wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 1rem 1rem 10% 1rem;
    & article:last-child{
        height: 60%;
        overflow-y: scroll;
        background-color: darken($aboutBgrClr, 1%);
    }
    @media (max-width: 1980px){
        flex-direction: column;
    }
}