@keyframes txtAppear{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hidePage{
    from {
        opacity: 1;
        height: 100vh;
    }
    to {
        opacity: 0;
        height: 0;
        display: none;
    }
}

@keyframes showPage{
    from {
        opacity: 0;
        height: 0;
        display: none;
    }
    to {
        opacity: 1;
        height: 100vh;
        display: flex;
    }
}

@keyframes svgAppear{
    from {
        translate: 100px;
    }
    to {
        translate: 150px;
    }
}

@keyframes rotateRect{
    to { 
        transform: rotate(180deg);
    } 
}

@keyframes scale{
    20% {
        transform: scale(0.5);
        opacity: 0.5;
        }

}