@keyframes txtAppear{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes heightChange{
    from {
        height: 0;
    }
    to {
        height: 100vh;
    }
}

@keyframes scaleTo0{
    80% {
        transform: rotate(180deg);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaleTo1{
    80% {
        font-size: 5rem;
        transform: scale(1.2);
    }
    100%{
        font-size: 8rem;
    }
}

@keyframes menuClose{
    from{
        height: 100vh;
    }
    to{
        height: 0;
    }
}
