//colors:

$bodyBgrClr: #54123B;
$aboutBgrClr: #2D132C;
$projectsBgrClr:  #87556f;


$navLinkClr: #29C7AC;
$navLinkBordClr: #87556f;
$navLinkHvr: #d6b0b1;
$navBtnHvr: #350b40;
$headerTxtClr: #87556f;
$headingPrimaryClr: #FF6768;
$headingSecondClr: #2D132C;
$pPrimaryClr: #A0CFC7;

$iconClr: #A0CFC7;
$iconContClr: #A86363;
$btnTxtClr: #EE4540;

//screens
