//colors:

$bodyBgrClr: #200f21;
$aboutBgrClr: #2D132C;
$projectsBgrClr:  #2c003e;
$contactBgrClr: #221f3b;


$navLinkClr: #29C7AC;
$navLinkBordClr: #87556f;
$navLinkHvr: #d6b0b1;
$navBtnHvr: #350b40;
$headerTxtClr: #87556f;
$headingPrimaryClr: #95FFEC;
$headingSecondClr: #2D132C;
$pPrimaryClr: #A0CFC7;
$curlyBrClr: #559DE0;

$iconClr: #A0CFC7;
$iconContClr: #c299fc;
$btnTxtClr: #EE4540;

//screens
