//colors:

$bodyBgrClr: #200f21;
$aboutBgrClr: #2D132C;
$projectsBgrClr:  #2c003e;
$contactBgrClr: #221f3b;


$navLinkClr: #29C7AC;
$navLinkBordClr: #87556f;
$navLinkHvr: #d6b0b1;
$navBtnHvr: #350b40;
$headerTxtClr: #c2b0c9;
$headingPrimaryClr: #95FFEC;
$headingSecondClr: #2D132C;
$pPrimaryClr: #726a95;
$curlyBrClr: #559DE0;
$txtImportant: #8ec6c5;
$projectNavBtnClr: #8ec6c5;


$iconClr: #8ec6c5;
$iconContClr: #c299fc;
$btnTxtClr: #EE4540;

//screens
